body, html{
    height: 100%;
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, samp, small, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, object, iframe{margin:0;padding:0;border:0}
body {background:#f4f5fa; -webkit-text-size-adjust: 100%;-moz-text-size-adjust: 100%;font-family:'Open Sans', sans-serif}

.clear:after{content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0}
img {height: auto;max-width: 100%}
a img {border: 0}
input,select,textarea {outline: none}
input::-moz-focus-inner {border: 0;padding: 0}

.alert>p, .alert>ul {
    margin-top: 10px;
    margin-left: 15px;
}


