body, html{
    height: 100%;
    padding: 0;
}

body {background:#f4f5fa; -webkit-text-size-adjust: 100%;-moz-text-size-adjust: 100%;font-family:'Open Sans', sans-serif}

.clear:after{content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0}
img {height: auto;max-width: 100%}
a img {border: 0}
input,select,textarea {outline: none}
input::-moz-focus-inner {border: 0;padding: 0}

.alert>p, .alert>ul {
    margin-top: 10px;
}

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}

#content-right {
    margin-top: 0px;
    width: 100%x;
}

@media (min-width: 768px) {
    #content-right {
        margin-top: 150px;
        width: 187px;
    }
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    margin: 0;
    border: 1px solid #008cba;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 5px;
    color: #333333;
}

.markdown code {

    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.badge-success {
    background-color: #43ac6a;
    color: white;
}

.badge-warning {
    background-color: #e99002;
    color: white;
}

.badge-error {
    background-color: #f04124;
    color: white;
}
